<div class="shadow-sm rounded-3 bg-white mb-3 p-3">

  <div class="d-flex justify-content-start">
    <div class="review-user-image">
      <img src="{{review.user.userprofile.profile_pic.url}}" alt="">
    </div>
    <small class="d-flex justify-content-between w-100">
      <div class="written-by">
        <a class="" href="/product/{{review.product.slug}}">{{review.product}}</a>
      </div>
      <div class="date">{{review.created.time|time:"h:ia"}} {{review.created.date}}</div>
    </small>
  </div>
  
  {% include 'review/partials/review-content.html' %}

</div>