{% extends 'main/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

  <div class="shadow-sm rounded-3 bg-white my-3 p-3">

    <div class="d-flex justify-content-start">
      <div class="review-user-image">
        <img src="{{review.user.userprofile.profile_pic.url}}" alt="">
      </div>
          <a class="text-decoration-none" href="/profile/{{review.user.id}}">{{review.user}}</a> reviewed 
          <a class="" href="/product/{{review.product.id}}">{{review.product}}</a>
      </small>
    </div>
  
    <div class="ms-5 me-1">
  
      <div class="my-1">
  
        {% load my_filters %}
  
        {% for i in review.rating|stars %}
          <i class="bi bi-star-fill text-warning"></i>
        {% endfor %}
      </div>
      
      <p class="review-body">
        <a class="text-dark text-decoration-none" href="/review/{{review.id}}">{{review}}</a>
      </p>
    
      <div class="vote d-flex w-75 justify-content-between align-items-center">
        
        <div class="d-inline-block">
          <a href="" class="nav-link comment">
            <i class="bi bi-chat me-3"></i>
            {{review.comment.all.count|_count}}  
          </a>
          
        </div>
    
        <div class="d-inline-block">
          <form class="" action="{% url 'upvote' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="slug" value="{{review.slug}}">
            <small>
              {% if user not in review.upvotes.all %}
              <button class="upvote text-muted">
                <i class="bi bi-chevron-up me-3"></i>
                {{review.num_upvotes|_count}}
              </button>
              {% else %}
              <button class="upvote text-primary">
                <i class="bi bi-chevron-up me-3"></i>
                {{review.num_upvotes|_count}}
              </button>
              {% endif %}
            </small>
          </form>
        </div>
        
        <div class="d-inline-block">
          <form class="" action="{% url 'downvote' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="slug" value="{{review.slug}}">
            <small>
              {% if user not in review.downvotes.all %}
              <button class="downvote text-muted">
                <i class="bi bi-chevron-down me-3"></i>
                {{review.num_downvotes|_count}}
              </button>
              {% else %}
                <button class="downvote text-danger">
                  <i class="bi bi-chevron-down me-3"></i>
                  {{review.num_downvotes|_count}}
                </button>
              {% endif %}
            </small>
          </form>
        </div>
    
        <div class="d-inline-block">
          <a href="" class="nav-link d-inline-block">
            <i class="bi bi-share"></i>
          </a>
        </div>
    
      </div>

      <form class="comment-form bg-transparent border-0" action="/review/comment" method='post'>
        {% csrf_token %}
    
        <input 
          type="text"
          name="review"
          value="{{review.slug}}"
          hidden=true  
        >
        {{form.as_p}}

        <button class="btn btn-primary bg-transparent text-primary">post</button>
        
      </form>
      <div class="m-4">
        <h5>Comments</h5>
        {% for comment in comments %}
          <div class="my-3 p-2 border-top">
            <a class="text-decoration-none" href="/profile/{{review.user.id}}">{{review.user}}</a><br>
            {{comment}}
          </div>
        {% endfor %}
      </div>

    </div>
  
  </div>

{% endblock content %}