{% extends 'main/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

  <h1>Homepage</h1>
  <h3>All Reviews</h3>
  
  {% for review in reviews %}
    <div>
      <h4 style="margin-bottom: 5px">
        <a href="/reviews/{{review.id}}">{{review}}</a>
      </h4>
      <div class="review-links">
        <form action="{% url 'upvote' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="review_id" value="{{review.id}}">
          {% if user not in review.upvote.all %}
            <button>upvote</button>
          {% endif %}
        </form>
        <strong>{{review.num_upvotes}} upvotes</strong>
        
        <form action="{% url 'downvote' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="review_id" value="{{review.id}}">
          {% if user not in review.downvote.all %}
            <button>downvote</button>
          {% endif %}
        </form>
        <strong>{{review.num_upvotes}} downvotes</strong>
        <small>
          <p>Written by <a href="">{{review.user}}</a></p>
        </small>
      </div>
    </div>
  {% endfor %}

{% endblock content %}