{% extends 'main/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

  <div class="landing">
    <div class="overly">
      <h2>Behind every review is an experience that matters</h2>
      <p>
        Read reviews. Write reviews. Find products
      </p>

      <a class="btn btn-primary land-butt" href="/review/new">Write a review</a>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8">
      <h4>Recent Reviews</h4>
      {% for review in reviews %}
        {% include 'review/review-link.html' %}
      {% endfor %}
    </div>

    <div class="col-md-1">

    </div>

    <div class="col-md-3">
      <div class="trending-reviews border">
        <h5>Trending</h5>
      </div>
      <div class="hot-reviews border">
        <h5>Hot Reviews</h5>
      </div>
    </div>
  </div>

{% endblock content %}