{% extends 'main/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

  <div class="row p-3">

    <div class="col-md-4 border-end">
      <div class="profile-pic">
        {% comment %} <img src="{{profile.profile_pic.url}}" alt=""> {% endcomment %}
        <img src="static/images/person-circle.svg" alt="">
      </div>

      <div class="text-center">
        <p>
          <h4>{{profile.first_name}} {{profile.last_name}}</h4>
        </p>
        <p>
          <b>{{profile.user.email}}</b>
        </p>
        <p>
          About Me is a funny concept. I'm about life, chill songs and fire vibes
        </p>
      </div>

      <div class="d-flex following justify-content-evenly border-bottom py-4">
        <div>
          <b>Following</b>
        </div>
        <div>
          <b>Followers</b>
        </div>
      </div>

      <a href="/profile/edit" class="btn btn-primary my-5 d-block">edit profile</a>
    </div>

    <div class="col-md-8 px-4">

      {% for review in reviews %}
        {% include 'main/review-link-1.html' %}
      {% endfor %}

    </div>

  </div>
{% endblock content %}