{% extends 'main/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
  <h1>{{profile.user.username}} Profile Page</h1>
  {% comment %} <img src="{{profile.profile_pic.url}}" alt=""> {% endcomment %}
  <h3>My Details</h3>
  <h5>Name: {{profile.first_name}} {{profile.last_name}}</h5>
  <h5>Email: {{profile.user.email}}</h5>
  <h5>Phone: {{profile.phone}}</h5>

  <h3>My Reviews</h3>
  {% for review in reviews %}
    <h2><a href="/reviews/{{review.id}}">{{review.product}}</a></h2>
        <strong>{{review.num_upvotes}} upvotes</strong>
        <strong>{{review.num_downvotes}} downvotes</strong>
    <small>
      <p><a href="">edit review</a></p>
      <p><a href="">delete review</a></p>
    </small>
  {% endfor %}

{% endblock content %}