{% extends 'main/base.html' %}
{% block title %}My Reviews{% endblock title %}

{% block content %}

  {% if user.is_authenticated %}

    {% for review in reviews %}
      <h2><a href="/reviews/{{review.id}}">{{review.product}}</a></h2>
        <strong>{{review.num_upvotes}} upvotes</strong>
        <strong>{{review.num_upvotes}} downvotes</strong>
      <small>
        <p><a href="">edit review</a></p>
        <p><a href="">delete review</a></p>
      </small>
    {% endfor %}
    
  {% else %}
    <p>Log in <a href="/login">here</a></p>
  {% endif %}

{% endblock content %}