{% extends 'main/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

  <h1>Write a review</h1>
  
  <form class="p-3" action="" method='post'>
    {% csrf_token %}
    {% if categories %}
      <label>Category:</label>
      <select name="category">
        
        {% for cat in categories %}
          <option value="{{cat.name}}">{{cat.name}}</option>
        {% endfor %}
      </select>
    {% endif %}
    
    {{form.as_p}}
    {% if user.is_authenticated %}
      <button>post</button>
    {% else %}
    <p>Login <a href="/login">here</a> to  post review.</p>
    {% endif %}
        
  </form>

{% endblock content %}