
<div class="border bg-white p-2 mb-4">

  <div class="border-bottom p-2">
    {% load my_filters %}
    {% for i in review.rating|stars %}
      <i class="bi bi-star-fill text-warning"></i>
    {% endfor %}
  </div>

  <div class="p-2 pb-0">
    <small >
      <p class="">
        <a class="text-decoration-none" href="/products/{{review.product.id}}">{{review.product}}</a>
      </p>
    </small>
  </div>

  <p class="px-2 review-body">
    <a class="text-dark text-decoration-none" href="/reviews/{{review.id}}">{{review}}</a>
  </p>

  <div class="vote border-top pt-2">

    <div class="vote-count px-2">
      <small>
        <strong class="me-3">{{review.num_upvotes}} upvotes</strong>
        <strong class="me-3">{{review.num_downvotes}} downvotes</strong>
      </small>
    </div>

    <a href="" class="btn btn-primary ms-2 my-2">edit</a>
    <a href="" class="btn btn-danger ms-3 my-2">delete</a>

  </div>
</div>