{% extends 'main/base.html' %}
{% block title %}Edit Profile{% endblock title %}

{% block content %}

  <a href="/profile" class="btn btn-outline-primary">Back to profile</a>
  <div>

    <div class="content-box col-md-8 m-auto">
      <div class="profile-pic">
        <img src="{{profile.profile_pic.url}}" alt="">
      </div>
      
      <form class="p-4" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

          <div>
            <div class="preview">
              <p>No file selected for upload</p>
            </div>
            <div>
              <label for="image_uploads">Change Profile Photo</label>
              <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png">
            </div>
          <div>

          <div class="row">
            <div class="col-md-6">
              <label for="id_first_name">First name:</label>
              {{form.first_name}}
            </div>
            <div class="col-md-6">
              <label for="id_last_name">Last name:</label>
              {{form.last_name}}
            </div>
          </div>
          <div class="row my-4 px-3">
            <label for="id_about_me">About me:</label>
            {{form.about_me}}
          </div>
          <a class="nav-link p-0 d-inline-block" href="/accounts/password/change">Change Password</a>
          <button class="btn btn-primary my-4 d-block" type="submit">Update</button>
    
      </form>
    </div>
  
  </div>
{% endblock content %}