{% extends 'main/base.html' %}
{% block title %}Edit Profile{% endblock title %}

{% block content %}

  <a href="/profile" class="btn btn-warning">Back to profile</a>

  <div class="profile-pic">
    <img src="{{profile.profile_pic.url}}" alt="">
  </div>
  <div class="col-md-6 m-auto">
    <form class="form-control" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
  
        {% comment %} <label class="mt-3" for="first_name">First name: </label>
        <input class="d-inline-block" type="text" name="first_name" value={{profile.first_name}}>
  
        <label class="mt-3" for="last_name">Last name:</label>
        <input class="d-inline-block" type="text" name="last_name" value={{profile.last_name}}>
  
        <label class="mt-3" for="about_me">About me:</label>
        <textarea class="form-control" name="about_me" 
          id="about_me" rows="5" re>{{profile.about_me}}</textarea> {% endcomment %}
        {{form.as_p}}
        <button class="btn btn-primary my-4" type="submit">Update</button>
  
    </form>
  </div>

{% endblock content %}