{% extends 'main/base.html' %}

{% block title %}Login{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="col-md-6 m-auto">
    <!-- templates/account/login.html -->
    
    <form class="form-control login py-3" method="post">
      <h4>Log In</h4>
      {% csrf_token %}
      {{ form|crispy }}
      <p><small>Don't have an account? Sign up <a href="/accounts/signup">here</a></small></p>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>

  </div>
{% endblock content %}