{% extends 'main/base.html' %}
{% block title %}Edit Profile{% endblock title %}

{% block content %}

  <a href="/profile" class="btn text-primary">Back to profile</a>
  <div>

    <div class="profile-pic">
      <img src="{{profile.profile_pic.url}}" alt="">
    </div>
    <div class="col-md-6 m-auto">
      <form class="form-control" action="" method="post">
        {% csrf_token %}
    
          {{form.as_p}}
          <button class="btn btn-primary my-4" type="submit">Change Password</button>
          <a href="/accounts/password/reset">Forgot Password?</a>
    
      </form>
    </div>
  
  </div>
{% endblock content %}