{% extends 'main/base.html' %}

{% block title %}Login{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="col-md-5">
    <!-- templates/account/login.html -->
    
    <form class="form-control login p-4" method="post">
     
      {% csrf_token %}

      <p>
        <small>
          Your email address must be verified before you can reset 
          your account's password.
        </small>
      </p>
      
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary w-100 mt-3">Submit email</button>

      <p class="mt-5 mb-3 text-center">Don't have an account? Sign up <a href="/accounts/signup">here</a></p>
      
    </form>

  </div>
{% endblock content %}