{% extends 'main/base.html' %}

{% block title %}Sign up{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="col-md-5">
    <!-- templates/account/signup.html -->
    <form class="form-control signup p-4" method="post">
    
      {% csrf_token %}

      <a href="" class="btn btn-primary w-100 p-2 mb-5">Sign up with Google</a>
      
      <p class="mb-4 text-center">or sign up with email</p>
      
      {{ form|crispy }}

      <p>
        <small>Your password must be at least 8 characters long 
          and must contain at least one number.
        </small>
      </p>
      
      <button type="submit" class="btn btn-primary w-100 mt-3">Sign Up</button>
      
      <p class="m-3 text-end text-decoration-none"><a href="">Forgot Password?</a></p>
      <p class="mt-5 mb-3 text-center">Already have an account? Log in <a href="/accounts/login">here</a></p>

    </form>
  </div>
{% endblock %}