{% extends 'main/base.html' %}

{% block title %}Login{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="col-md-6 m-auto">
    <!-- templates/account/signup.html -->
    
    <form class="form-control signup py-3" method="post">
      <h4>Sign Up</h4>
      {% csrf_token %}
      {{ form|crispy }}

      <p><small>Already have an account? Log in <a href="/accounts/login">here</a></small></p>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
{% endblock %}