{% extends 'main/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

  <div class="row p-3">

    <div class="col-md-4 border-end">
      <div class="profile-pic">
        <img src="{{profile.profile_pic.url}}" alt="">
      </div>

      <div class="text-center">
        <p>
          <h4>{{profile.first_name}} {{profile.last_name}}</h4>
        </p>
        <p>
          <b>{{profile.user.email}}</b>
        </p>
        <p>
          <b>About me: </b><br>
          {{profile.about_me}}
        </p>
      </div>

      <div class="followings">
        <img src="/static/images/people.svg" alt="">

        <div class="d-flex justify-content-evenly border-bottom py-1 text-center">

          <div>
            <a href="" class="nav-link"><b>Following</b></a>
            <p>{{following|length}}</p>
          </div>
          <div>
            <a href="" class="nav-link"><b>Followers</b></a>
            <p>{{followers|length}}</p>
          </div>
        </div>

      </div>

      {% if is_follower %}
        <a href="/profile/{{profile.user.id}}/unfollow" class="btn btn-danger my-5 d-block">Unfollow</a>
      {% else %}
        <a href="/profile/{{profile.user.id}}/follow" class="btn btn-primary my-5 d-block">Follow</a>
      {% endif %}

    </div>

    <div class="col-md-8 px-4">
      {% if reviews %}
        {% for review in reviews %}
          {% include 'review/review-link-3.html' %}
        {% endfor %}
      {% else %}
        <h4 class="text-center">No reviews yet</h4>
      {% endif %}
    </div>

  </div>
{% endblock content %}