<div class="my-1">

  {% load my_filters %}

  {% for i in review.rating|stars %}
    <i class="bi bi-star-fill text-warning"></i>
  {% endfor %}
</div>

<p class="review-body">
  <a class="text-dark text-decoration-none" href="/review/{{review.product.slug}}/{{review.slug}}">{{review}}</a>
</p>

{% if review.review_image.all.count > 0 %}
  <div class="review-images">
    {% for img in review.review_image.all %}
      <div class="rev-image">
        <!-- Image link to trigger modal -->
        <img src="{{img.review_image.url}}" alt="" data-bs-toggle="modal" data-bs-target="#imageModal">
      </div>

    {% endfor %}
  </div>

{% endif %}