{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

  <form action="" method="post">
    {% csrf_token %}
    <h4>Add new product</h4>

    <label for="category">Category: </label>
    <select name="category" id="category" required onchange=selectProductCategory(this) >
      <option value="" selected disabled>Choose Product Category</option>
      {% for cat in categories %}
        <option value="{{cat.slug}}">{{cat}}</option>
      {% endfor %}
    </select>
    
    {{form}}

    <div class="attribs">
      {% include 'product/category_attrib_partial.html' %}
    </div>

    <button>Add product</button>
  </form>

{% endblock content %}