{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h4>Product details</h4>
<div class="row p-3">

  <div class="col-md-4 shadow-sm p-4 bg-white rounded product">
    <div class="product-details">
      <div class="product-image">
        <img src="/static/images/Icons/image-add.svg" alt="" srcset="">
      </div>
      <div class="product-name pt-3">
        <p><b>{{product.name}}</b><br>
          {{product.category}}
        </p>
      </div>
    </div>

    {% load my_filters %}
    <div class="stats">
      {% for k,v in reviews|review_stats %}
        <div class=""> 
          <progress id="progress-bar" value={{v}} max="100"></progress>
          <label for="progress-bar">{{k}}</label>
        </div>
      {% endfor %}
    </div>

    <p>
      {% if user.is_authenticated %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">
          Review this product
        </button>
      {% else %}
        <b>
          <a href="/accounts/login/">Log in to write a review</a>
        </b>
      {% endif %}
    </p>
  </div>

  <div class="col-md-8 px-4">
      
    {% if reviews %}
      {% for review in reviews %}
        {% include 'review/review-link-2.html' %}
      {% endfor %}
    {% else %}
      <h5>No reviews for {{product.name}}</h5>
    {% endif %}

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalLabel">Write a review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form class="form-control border-0 p-3" action="/review/new" method='post'>
          {% csrf_token %}
      
          <input 
            type="text"
            name="product"
            value="{{product.name}}"
            hidden=true  
          >
          {{form.as_p}}
      
          <button class="btn btn-primary">post</button>
          
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}