body {
  background: #F8F7F7;
  font-size: 15px;
}
@keyframes blinker {
  from {opacity: 1;}
  to {opacity: 0;}
}
.blink {
  text-decoration: blink;
  animation-name: blinker;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.bi-search {
  display: none;
}
.many-attributes label {
  display: none;
}
.login input, .signup input {
  margin: 10px 0 20px;
}
nav {
  display: flex;
  color: #2564B0;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 0 20px 0;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  margin: 0 10px;
}
nav a {
  text-decoration: none;
}
.navbar-brand img {
  height: 30px;
}
.dropdown .nav-link img {
  width: 30px;
  height: 30px;
  color: #2564B0;
  border-radius: 15px;
}
.content {
  width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
.navbar-nav {
  background: #888;
}
.landing {
  background: url("../../images/review.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  height: 230px;
  padding: 0;
  margin-bottom: 50px;
  z-index: -1;
  overflow: visible;
}
.overly {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  height: 100%;
  padding: 30px 20px;
  overflow: visible;
}
a.land-butt {
  display: block;
  position: relative;
  top: 35px;
  margin: 0 auto;
  width: max-content;
  padding: 10px;
}
.review-body {
  max-height: 100px;
  overflow: hidden;
}

/* Product Styles */
.product {
  height: fit-content;
}
.product-details {
  display: flex;
  justify-content: left;
}
.product-image {
  margin-right: 20px;
}
.product-image img {
  width: 160px;
  height: 120px;
}
.stats {
  margin: 20px 0;
}

/* Profile Styles */

.profile-card {
  border-radius: 10px;
  height: fit-content;
}
.profile-pic {
  width: 80px;
  height: 80px;
  margin: auto;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.followings img {
  display: block;
  width: 30px;
  margin: 0 auto;
}
.trending-reviews, .hot-reviews {
  height: 350px;
  margin-bottom: 30px;
}

/* Voting Buttons Styles */
.vote button {
  border: none;
  background: none;
  padding: 3px 12px;
  border-radius: 10px;
}
.vote button.upvote:hover {
  background: rgba(115, 152, 233, 0.3);
}
.vote button.downvote:hover {
  background: rgba(233, 115, 121, 0.3);
}

/* Comment Buttons Styles */
.vote a.comment-button {
  border: none;
  background: none;
  padding: 3px 12px;
  border-radius: 10px;
}
.vote a.comment-button:hover {
  background: rgba(115, 152, 233, 0.3);
}

/* Comment Form stlyes */
.comment-form textarea {
  margin-top: 10px;
  height: 90px;
  width: 100%;
  padding: 5px;
  overflow-y: auto;
}
.comment-form label {
  display: none;
}

/* Review Card Styles */
.review-user-image img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

@media screen and (min-width: 500px) {
  
  .landing {
    background-position-y: -20px;
    background-size: cover;
    height: 300px;
  }
  .overly {
    padding: 80px;
  }
  a.land-butt {
    top: 85px;
  }

}

@media screen and (min-width: 780px) {
  
nav {
  padding: 0 0 0 40px;
}
  .bi-search {
    display: inline-block;
  }
  .landing {
    background-position-y: -140px;
    background-size: cover;
    height: 350px;
  }
  .overly {
    padding: 120px;
  }
  a.land-butt {
    top: 120px;
  }

}